<a href="https://colab.research.google.com/github/divyaseri/divya_INFO5731_Fall2020/blob/master/In_class_exercise_08_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The eighth in-class-exercise (20 points in total, 10/29/2020)**

The data for this exercise is from the dataset you created from assignment three. Please perform answer the following questions based on your data:

## (1) (10 points) Write a python program to extract the sentiment related terms from the corpus. You may use python package such as polyglot or external lexicon resources in the question. Rank the sentiment related terms by frequency.

In [15]:
!pip install TextBlob

Requirement already satisfied: TextBlob in /usr/local/lib/python3.6/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.6/dist-packages (from TextBlob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk>=3.1->TextBlob) (1.15.0)

In [43]:
import pandas as pd
data = pd.read_csv("/content/Review_file - Sheet1.csv")
data.head(10)
main_df=data[["Review"]]
main_df.head(10)

                                              Review
0  Every once in a while a movie comes, that trul...
1  This is a movie that only those who have felt ...
2  Truly a masterpiece, The Best Hollywood film o...
3  Joaquin Phoenix gives a tour de force performa...
4  Most of the time movies are anticipated like t...
5  Let me start off by saying if Joaquin Phoneix ...
6  I get why some people hate this . It's because...
7  I have seen Joker yesterday at Venice an early...
8  It's sad that Joaquin missed Oscar for 'The gl...
9                                                NaN

In [44]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
#remove stop words 
from nltk.corpus import stopwords
stopwords = list(stopwords.words('english'))

#find the occurance of each word from the list
main_df["Tokens"] = main_df["Review"].apply(lambda x : nltk.word_tokenize(str(x)))
main_df.head(10)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

                                              Review                                             Tokens
0  Every once in a while a movie comes, that trul...  [Every, once, in, a, while, a, movie, comes, ,...
1  This is a movie that only those who have felt ...  [This, is, a, movie, that, only, those, who, h...
2  Truly a masterpiece, The Best Hollywood film o...  [Truly, a, masterpiece, ,, The, Best, Hollywoo...
3  Joaquin Phoenix gives a tour de force performa...  [Joaquin, Phoenix, gives, a, tour, de, force, ...
4  Most of the time movies are anticipated like t...  [Most, of, the, time, movies, are, anticipated...
5  Let me start off by saying if Joaquin Phoneix ...  [Let, me, start, off, by, saying, if, Joaquin,...
6  I get why some people hate this . It's because...  [I, get, why, some, people, hate, this, ., It,...
7  I have seen Joker yesterday at Venice an early...  [I, have, seen, Joker, yesterday, at, Venice, ...
8  It's sad that Joaquin missed Oscar for 'The gl...  [It, 's, sad, that, Joaquin, missed, Oscar, fo...
9                                                NaN                                              [nan]

In [45]:
import pandas as pd
import numpy as np
def compute_values(ip):
  res1 =pd.value_counts(ip)
  if(len(res1)==0 ):
    res1 = [0]
  return res1

#calculate the occurance of each word in the sentence
df1 = main_df["Tokens"].apply(lambda x : compute_values(x))

In [46]:
df1 = df1.fillna(0)
final_df = pd.DataFrame(df1.columns, columns=["Tokens"])
res = pd.DataFrame(new_df.T.sum(axis=1),columns = ["value"]).values.tolist()
final_df["Occurances"] = pd.DataFrame(res)

In [47]:
final_df.head(10)

  Tokens  Occurances
0      .       542.0
1      ,       451.0
2      a       324.0
3   with        62.0
4     's       142.0
5     it       214.0
6  movie       198.0
7    and       315.0
8     at        35.0
9     an        45.0

In [48]:
from textblob  import TextBlob
#find the polarity 
final_df["Polarity"] = final_df['Tokens'].apply(lambda x: TextBlob(x).sentiment.polarity)

#filter the influencing variables 
iv = final_df["Polarity"] != 0
iv_filter = final_df[iv]
iv_filter.head(10)

         Tokens  Occurances  Polarity
16        funny         2.0  0.250000
22    Grotesque         1.0 -0.550000
24          far        12.0  0.100000
37  mesmerizing         1.0  0.300000
41         Hard         1.0 -0.291667
42      typical         4.0 -0.166667
47       single         3.0 -0.071429
56       Tragic         1.0 -0.750000
62  predictable         4.0 -0.200000
64         best        23.0  1.000000

In [49]:
#ranks based on the occurance 
result = iv_filter.sort_values(by = ["Occurances"],ascending = False).reset_index()
result["Rank"] = pd.DataFrame(range(1,242))
result.head(10)

   index  Tokens  Occurances  Polarity  Rank
0    365    good        45.0       0.7   1.0
1    236    more        38.0       0.5   2.0
2    274    very        32.0       0.2   3.0
3    227    many        26.0       0.5   4.0
4     64    best        23.0       1.0   5.0
5    456  really        22.0       0.2   6.0
6    759   great        21.0       0.8   7.0
7    168    much        21.0       0.2   8.0
8     80  better        16.0       0.5   9.0
9    239     bad        15.0      -0.7  10.0

## (2) (10 points) Compare the performance of the following tools in sentiment identification: TextBlob (https://textblob.readthedocs.io/en/dev/), VADER (https://github.com/cjhutto/vaderSentiment), TFIDF-based Support Vector Machine (SVM) (Split your data into training and testing data). Take your own annotation as the standard answers. 

Reference code: https://towardsdatascience.com/fine-grained-sentiment-analysis-in-python-part-1-2697bb111ed4

In [55]:
# Write your code here
main_df2 = data.drop(["id"],axis=1).reset_index()
main_df2["Polarity"] = sentiment_data["Review"].apply(lambda x: TextBlob(str(x)).sentiment.polarity)
main_df2.head(10)

   index                                             Review Sentiment  Polarity
0      0  Every once in a while a movie comes, that trul...  Positive -0.025317
1      1  This is a movie that only those who have felt ...  Positive -0.031250
2      2  Truly a masterpiece, The Best Hollywood film o...  Positive  0.273750
3      3  Joaquin Phoenix gives a tour de force performa...  Positive -0.081481
4      4  Most of the time movies are anticipated like t...  Positive  0.135294
5      5  Let me start off by saying if Joaquin Phoneix ...  Positive  0.162500
6      6  I get why some people hate this . It's because...  Positive  0.150000
7      7  I have seen Joker yesterday at Venice an early...  Positive  0.130631
8      8  It's sad that Joaquin missed Oscar for 'The gl...  Positive  0.244103
9      9                                                NaN       NaN  0.000000

In [56]:
main_df2["Final_Sentiment"] = pd.cut(main_df2['Polarity'], bins=3, labels=["Negative", "Neutral", "Positive"])
main_df2["Sentiment"]=main_df2["Sentiment"].fillna("Negative")
main_df2.head(10)

   index  ... Final_Sentiment
0      0  ...         Neutral
1      1  ...         Neutral
2      2  ...         Neutral
3      3  ...         Neutral
4      4  ...         Neutral
5      5  ...         Neutral
6      6  ...         Neutral
7      7  ...         Neutral
8      8  ...         Neutral
9      9  ...         Neutral

[10 rows x 5 columns]

In [57]:
#Vader
main_df3 = data.drop(["id"],axis=1).reset_index()
main_df3["Sentiment"] = main_df3["Sentiment"].fillna("Negative")
main_df3.head(10)

   index                                             Review Sentiment
0      0  Every once in a while a movie comes, that trul...  Positive
1      1  This is a movie that only those who have felt ...  Positive
2      2  Truly a masterpiece, The Best Hollywood film o...  Positive
3      3  Joaquin Phoenix gives a tour de force performa...  Positive
4      4  Most of the time movies are anticipated like t...  Positive
5      5  Let me start off by saying if Joaquin Phoneix ...  Positive
6      6  I get why some people hate this . It's because...  Positive
7      7  I have seen Joker yesterday at Venice an early...  Positive
8      8  It's sad that Joaquin missed Oscar for 'The gl...  Positive
9      9                                                NaN  Negative

In [59]:
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sa
sentiment_intensity_analyzer = sa()
main_df3["Polarity_dict"] = main_df3["Review"].apply(lambda x: sentiment_intensity_analyzer.polarity_scores(str(x)))
main_df3["Polarity_dict"].head(10)

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

0    {'neg': 0.095, 'neu': 0.733, 'pos': 0.172, 'co...
1    {'neg': 0.12, 'neu': 0.649, 'pos': 0.232, 'com...
2    {'neg': 0.068, 'neu': 0.718, 'pos': 0.214, 'co...
3    {'neg': 0.055, 'neu': 0.818, 'pos': 0.127, 'co...
4    {'neg': 0.2, 'neu': 0.617, 'pos': 0.182, 'comp...
5    {'neg': 0.106, 'neu': 0.678, 'pos': 0.216, 'co...
6    {'neg': 0.112, 'neu': 0.713, 'pos': 0.175, 'co...
7    {'neg': 0.079, 'neu': 0.715, 'pos': 0.206, 'co...
8    {'neg': 0.133, 'neu': 0.645, 'pos': 0.222, 'co...
9    {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
Name: Polarity_dict, dtype: object

In [61]:
main_df3["Polarity"] = main_df3["Review"].apply(lambda x: sentiment_intensity_analyzer.polarity_scores(str(x))["compound"])
main_df3['Final_Sentiment'] = pd.cut(main_df3['Polarity'], bins=3, labels=["Negative", "Neutral", "Positive"])
main_df3.head(10)

   index  ... Final_Sentiment
0      0  ...        Positive
1      1  ...        Positive
2      2  ...        Positive
3      3  ...        Positive
4      4  ...        Negative
5      5  ...        Positive
6      6  ...        Positive
7      7  ...        Positive
8      8  ...        Positive
9      9  ...         Neutral

[10 rows x 6 columns]

In [62]:
#svm
from sklearn import feature_extraction, model_selection, svm, linear_model

In [64]:
main_df4 = data[["Review","Sentiment"]].reset_index()
main_df4["Sentiment"] = main_df4["Sentiment"].fillna("Negative")
main_df4["Review"] = main_df4["Review"].fillna("  ")
main_df4.head(10)

   index                                             Review Sentiment
0      0  Every once in a while a movie comes, that trul...  Positive
1      1  This is a movie that only those who have felt ...  Positive
2      2  Truly a masterpiece, The Best Hollywood film o...  Positive
3      3  Joaquin Phoenix gives a tour de force performa...  Positive
4      4  Most of the time movies are anticipated like t...  Positive
5      5  Let me start off by saying if Joaquin Phoneix ...  Positive
6      6  I get why some people hate this . It's because...  Positive
7      7  I have seen Joker yesterday at Venice an early...  Positive
8      8  It's sad that Joaquin missed Oscar for 'The gl...  Positive
9      9                                                     Negative

In [69]:
train, test = model_selection.train_test_split(main_df4, test_size = 0.5)
import sklearn
from sklearn.pipeline import Pipeline as pipe
pipeline = pipe([('countvector', feature_extraction.text.CountVectorizer()),('tf-idf', feature_extraction.text.TfidfTransformer()),('classifier', linear_model.SGDClassifier())])
vector = pipeline.fit(train['Review'], train['Sentiment'])
test['new_review'] = vector.predict(test['Review'])
test.head(10)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    index  ... new_review
38     38  ...   Negative
86     86  ...   Positive
4       4  ...   Positive
24     24  ...   Positive
50     50  ...   Negative
89     89  ...   Positive
32     32  ...   Positive
85     85  ...   Negative
64     64  ...   Negative
83     83  ...   Positive

[10 rows x 4 columns]

In [72]:
from sklearn.metrics import accuracy_score
accuracy_score(test["Sentiment"].values.tolist(),test["new_review"].values.tolist())

0.64